var express = require('express');
var myIP = require('my-ip');
var app = express();

var private_ip = myIP()
app.get('/', function (req, res) {
  res.send(`Hello World, mon nom est ${private_ip}`);
});
app.listen(3000, function () {
  console.log('Example app listening on port 3000!');
});
